/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
    background-color:#fff
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:20px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */

button, input{
    display:block;
    margin: 20px auto;
}

.home.ui-link{
  position: absolute;
  right: 10px;
  top: 50px;
  color: #555;
}

input.ui-input-text{
  background: #ddd;
}

.ui-li-divider{
  background: white;
  color: #555;
  margin-top: 50px;
}
.ui-li-static{
  background: #fff;
}

.products{
  display: none;
}


.products .ui-btn{
  padding: 10px 0;
  width: 50%;
  border-radius: 5px;
  margin-left: 15px;
}

.products h1{
  text-transform: capitalize;
  font-weight: normal;
}

.app-list h1{
  font-size: 1.6em;
}

input.ui-input-text.text-search{
  display: none;
  width: 80%;
  color: #555;
}

.products-list .ui-btn{
  width: 100%;
}

.products-list .store-image{
  border: 1px solid #000;
  padding: 5px;
  margin: 15px;
  box-shadow: 0 0 1px #000;
  min-width: 115px;
}

.products-list .store-name{
  font-size: 25px;
  margin: 12px 50px;
  text-transform: capitalize;
  font-weight: normal;
  float: left;
}

.products-list .price{
  font-size: 40px;
  font-weight: bold;
  float: right;
  margin-right: 20px;
  display: inline-block;
  margin-top: 10px;
}

.products h1{
    text-align:left;
}

#deviceready, .info{
    display: none;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
